.header-container{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background-color: #563524;
    padding-left: 10px;
    color:#f9f3e7;
    width: 100vw;
    height: 78px;
}