.footer-container{
    display: flex;
    box-sizing: border-box;
    background-color: #8a817c;
    background: linear-gradient(90deg, rgba(63,55,201,1) 0%, rgba(72,149,239,1) 100%);
    width: 100vw;
    padding: 5px;
    justify-content: flex-end;
}
