.header-container{
    display: flex;
    box-sizing: border-box;
    background-color: #3A0CA3;
    background: linear-gradient(90deg, rgba(63,55,201,1) 0%, rgba(72,149,239,1) 100%);
    font-size: 2em;
    margin: 0px;
    padding: 5px;
    width: 100vw;
    color: #FAFAFA  
}