.menu-container{
    background-color: #D5BDAF;
    color: #000;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
span{
    box-sizing: border-box;
    width: 100%;
    border: solid 1px #D6CCC2;
    padding: 5px;

}

span:hover{
    background-color: #D6CCC2;
}