<div class="rules-container">
    <h1>Como Jogar</h1>
    
    <h5>Jogo para 4 ou mais jogadores.</h5>
    <ul> 
        <li> Cada rodada 1 jogador é escolhido para ser o mestre da rodada. </li> 
        <li> O mestre da rodada deverá escolher uma palavra entre 5 sorteadas.</li> 
        <li> Em seguida a palavra é revelada aos demais jogadores e eles devem adivinhar a definição da palavra.</li> 
        <li> <p>Depois que todos os jogadores derem sua definição da palavra, o mestre da rodada deve conferir se alguem acertou a definição ou chegou perto. Por exemplo: </p>
        <p>Se a definição da palavra for <strong>GAROA</strong> e o palpite de um jogador for um sinonimo como por exemplo <strong>CHUVISCO</strong>, deve-se colocar como se o jogador estiver acertado.</p></li> 
        <li> O jogador que acertar ganha 3 pontos.</li> 
        <li> Após, se todos os jogadores erraram, todas as definições são mostradas há todos os jogadores, e eles irão votar em qual definição acham que é a certa</li> 
        <li> Caso o jogador vote na definção correta, ele ganha 2 pontos.</li> 
        <li> Cada jogador ganha 1 ponto para cada pessoa que votou em sua definição.</li> 
        <li> Caso o jogador tenha acertado a definição, o jogador ganha 1 ponto para cada pessoa que votou na definição correta.</li> 
        <li> Se nenhum jogador acertar e nem votar na definção correta, o mestre da rodada ganha 5 pontos.</li> 
        <li> Ganha o jogador que ao final do jogo somar mais pontos.</li>
    </ul> 
</div>
